---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import ProjectGroup from '../components/ProjectGroup.astro';
import { site } from '../config';
---

<Base title={site.name} description={`${site.name}'s portfolio`}>
	<Hero />

	<!-- timeline of project groups -->
	<ProjectGroup class="fade-up delay-5" projectNames={["uildl", "example"]}>
		I'm planning this site to be more narrative. 
		This would include paragraphs and comments before each section of projects
		instead of a big wall of projects. This layout is demoed here, and is obviously a work in progress.
	</ProjectGroup>

	<ProjectGroup class="fade-up delay-6" projectNames={["example", "example", "example"]}>
		As you can see, there are a selection of projects displayed here.
		(They're all examples right now). This section changes dynamically based
		on the number of projects and screen sizes. This text area would be where
		I would write about the projects directly below it, and can put some context
		or summary of the projects.
	</ProjectGroup>

	<ProjectGroup class="fade-up delay-7" projectNames={["example", "example", "example", "example"]}>
		These sections need not be more than one sentence.
	</ProjectGroup>

	<p class="fade-up delay-7 paragraph-section pl-8 md:pl-12 mt-8">
		Feel free to let me know what you think of the website! The socials that
		are displayed at the top are actually real.
	</p>
</Base>