---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
// import ProjectGroup from '../components/ProjectGroup.astro';
import { site } from '../config';
import { getCollection } from 'astro:content';
import ProjectCard from '../components/ProjectCard.astro';

const projects = await getCollection("projects");
---

<Base title={site.name}>
	<Hero />

	<!-- for now, just display a wall of project cards -->

    <header class="mb-12">
        <h1 class="text-3xl md:text-4xl font-bold bg-linear-to-br from-white to-neutral-300 bg-clip-text text-transparent">
            Projects
        </h1>
        <p class="text-neutral-400 mt-3">Some of the things that I've built so far.
			I am in the process of writing more about each project and updating this collection.
			To see all of my projects, you should visit my GitHub profile (linked above)
			which will always be up to date.
		</p>
    </header>

    <!-- project gallery grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {projects.map((project) => (
            <ProjectCard name={project.id.replace(/\.mdx?$/, "")} />
        ))}
    </div>
</Base>