---
import Base from '../layouts/Base.astro';
import ProjectCard from '../components/ProjectCard.astro';
import SocialTag from '../components/SocialTag.astro';
import type { Project } from '../types/project';

const projectModules = import.meta.glob<{project: Project}>('../projects/*.astro', { eager: true });
const projects = Object.values(projectModules).map((module) => module.project);

---

<Base title="Shubh Randeria">
	<div class="flex justify-center">
		<img 
			src="https://avatars.githubusercontent.com/acemavrick" 
			alt="Shubh Randeria profile picture" 
			class="w-32 h-32 rounded-full"
			loading="lazy"
		/>
	</div>
	<h1 class="text-center">Shubh Randeria</h1>
	<span class="flex justify-center gap-2">
		<SocialTag logo_link="https://cdn.jsdelivr.net/npm/simple-icons@v8/icons/github.svg" logo_name="Github Logo" link="https://github.com/acemavrick" name="Github" />
		<SocialTag logo_link="https://cdn.jsdelivr.net/npm/simple-icons@v8/icons/googlephotos.svg" logo_name="Google Photos Logo" link="https://photos.app.goo.gl/GhLWSijcDZX3JsqF7" name="Photo Album" />
	</span>

	<div class="grid gap-6">
		{projects.map((project, index) => (
			<ProjectCard project={project} handedness={(index + 1) % 2 === 0 ? 'left' : 'right'} />
		))}
	</div>
</Base>
